<!DOCTYPE html>
<html>
  <head>
    <title>
      Perception
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
      />
      <link
        href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
        rel="stylesheet"
      />  
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>


<body>
    <%- include('partials/preloader') %>
    <%	if(!currentUser){ %>
    <%- include('partials/splash') %>
    <% } %>
    <%- include('partials/navbar') %>
    <div class="glitch">
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
    </div>
    <div class="main">
     <section>
        <div class="container" style="height: 100%;">
        
        <section class='title' style="height: 100vh;">
            <%- include('partials/title') %>
        </section> 
        <section class="aboutus" style="height: 100vh; width: 100%">
            <%- include('partials/aboutus') %>
        </section >

        <section class="event-cards" style="margin-top: 100px;">
          <%- include('partials/eventcards') %>
        </section>
        <%	if(!currentUser){ %>
            <section >
            <%- include('partials/button') %> 
            </section>
         <% } %> 
        <section>
            <%- include('partials/sponsers') %>
        </section>
        <section>
          <%- include('partials/gallery') %>
        </section>  
      </div> 
    </section>
      <div>
        <section>
          <%- include('partials/footer') %>
        </section> 
      </div>
      </div>
      <% if(message) { %>
        <script src="js/sweet.js"></script>
        <script>
          let message = "<%= message %>";
          Toast.fire({
            title: message
          });
        </script>
      <% } %>
      <% if(registered) { %>
        <div class="register">
          <script>
            Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'You have successfully registered for Perception 2020.',
              showConfirmButton: false,
              timer: 7000
            })
            </script>
          </div>
        <% } %>
  </body>
</html>