<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      html {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 200;
        color: white;
     }

      .container {
        height: 50%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .row1 {
        padding: 30px 30px;
      }

      .row2 {
        padding: 30px 30px;
      }

      .p.i.fa:hover {
        background-color: #1a57e6 no-repeat;
      }

      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background: #3a6186;
        background: -webkit-linear-gradient(to right, #796d70 , #3a6186 );
        background: linear-gradient(to right, #89253e , #3a6186);
        background-attachment: fixed;
      }

      .content {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
      }
      
      .heading1 {
        width: 100%;
        margin-left: 0.1 rem;
        font-weight: 900;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1ch;
        line-height: 1;
        padding-bottom: 0.2em;
        margin-bottom: 0.1rem;
        position: relative;
      }
      .heading {
        width: 100%;
        margin-left: 1rem;
        font-weight: 900;
        font-size: 1.618rem;
        text-transform: uppercase;
        letter-spacing: 0.1ch;
        line-height: 1;
        padding-bottom: 0.5em;
        margin-bottom: 1rem;
        position: relative;
      }
      .heading:after {
        display: block;
        content: "";
        position: absolute;
        width: 60px;
        height: 4px;
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
        bottom: 0;
      }
     
      .description {
        width: 100%;
        margin-top: 0;
        margin-left: 1rem;
        margin-bottom: 3rem;
      }
    
      /* .box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 10%;
      } */
      .card {
        color: inherit;
        cursor: pointer;
        width: calc(33% - 2rem);
        min-width: calc(33% - 2rem);
        height: 400px;
        min-height: 400px;
        perspective: 1000px;
        margin: 1rem;
        position: relative;
      }
      /* @media screen and (max-width: 800px) {
        .card {
          width: calc(50% - 2rem);
        }
      } */

      .front,
      .back {
        display: flex;
        border-radius: 6px;
        background-position: center;
        background-size: cover;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: ease-in-out 600ms;
      }

      .front {
        background-size: cover;
        /* padding: 2rem; */
        font-size: 1.618rem;
        font-weight: 600;
        color: #fff;
        overflow: hidden;
        font-family: Poppins, sans-serif;
      }
      .front:before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
        opacity: 0.25;
        z-index: -1;
      }
      .front img {
        width: 100%;
        height: 100%;
      }
      .card:hover .front {
        transform: rotateY(180deg);
      }
      .card:nth-child(even):hover .front {
        transform: rotateY(-180deg);
      }

      .back {
        background: #fff;
        transform: rotateY(-180deg);
        padding: 0 2em;
      }
      .back .button {
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
      }
      .back .button:before {
        box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
        background-color: rgba(26, 87, 230, 0.25);
      }
      .card:hover .back {
        transform: rotateY(0deg);
      }
      .card:nth-child(even) .back {
        transform: rotateY(180deg);
      }
      .card:nth-child(even) .back .button {
        background: linear-gradient(135deg, #e61a80, #e61a3c);
      }
      .card:nth-child(even) .back .button:before {
        box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
        background-color: rgba(230, 26, 60, 0.25);
      }
      .card:nth-child(even):hover .back {
        transform: rotateY(0deg);
      }

      .button {
        transform: translateZ(40px);
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-weight: bold;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 100px;
        font: inherit;
        border: none;
        position: relative;
        transform-style: preserve-3d;
        transition: 300ms ease;
      }
      .button:before {
        transition: 300ms ease;
        position: absolute;
        display: block;
        content: "";
        transform: translateZ(-40px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        border-radius: 100px;
        left: 10px;
        top: 16px;
      }
      .button:hover {
        transform: translateZ(55px);
      }
      .button:hover:before {
        transform: translateZ(-55px);
      }
      .button:active {
        transform: translateZ(20px);
      }
      .button:active:before {
        transform: translateZ(-20px);
        top: 12px;
      }

      .row1 .row1-section{
        margin-left: 8em;
      }

    .link-to-home {
      position:absolute;
      top: 20px;
      left: 50px;
      z-index: 9999;
      cursor: pointer;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 3px;
      background-position: center center;
      background-size: cover;
      background-image: url('../assets/img/Homelogo.png');
      box-shadow: 0 0 0 2px rgba(12,12,12,.1);
      transition: opacity .2s, border-radius .2s, box-shadow .2s;
      transition-timing-function: ease-out;
    }
    .link-to-home:hover {
        opacity: 0.8;
        border-radius: 50%;
        box-shadow: 0 0 0 20px rgba(12,12,12,.1);
    }
    @media (max-width: 767px){
    .Homelogo{
        height: 40px;
    }
    .row1 .row1-section{
         margin-left: 0em;
    }
    .card {
      width: 100%;
    }
    
}

    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>
      Profile
    </title>
  </head>
  <body>

           

    <%- include('partials/navbar') %>
     <!-- home button -->
     <section class="Homelogo">
      <a href="/" class="link-to-home" ></a>
  </section>
    <%- include('partials/preloader') %>
    <div class="conatiner">
      <div class="row">

          <div class="col-lg-3" style="margin-top: 6rem; margin-left:40px;color: white;">
          <h1 class="heading"> My Profile</h1>
          <img src="../assets/img/profile.png" alt="" height="190" width="200">
          <br><br>
          <section id="details" style="margin-left: 1em; font-family: poppins">
            <p>Name: <%= currentUser.name %></p>
            <p>Email id: <%= currentUser.username %></p>
            <p>Perception ID: <%= currentUser.uid %></p>
            <p>Phone No: <%= currentUser.phone %></p>
            <p>College: <%= currentUser.college %></p>
            <!-- <p>Payment Status: <%= currentUser.paidstatus %></p> -->
          </section>
          </div>



      <div class="col-lg-8" style="margin-top: 6rem; color: white;">
        <div class="content">
          <h1 class="heading">Registered Events</h1>
          <p class="description" style="font-family: poppins">
            You can check the details of registered events or unregister from an
            event.
          </p>
        <!-- <div class="box"> -->
        <!-- <div class="card-deck"> -->
         <% data.events.forEach(function(d){ %>
          <div class="card" href="#!" id= <%= d %> >
            <div class="front">
              <img onerror="this.src='/assets/img/alt.jpeg';" src="/assets/img/poster/<%= d %>.jpg" />
            </div>
            <div class="back">
              <div>
                <h1 class="heading1" style="color: black;"><%= evjson[d]["event"] %> </h1>
                <div style="color: black; word-wrap:break-word; font-family: poppins"><%= evjson[d]["desc"].substring(0,100) %>...</div>
                <br>
                <button class="button" onclick="unreg(<%= d %>)">Unregister</button>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- </div>   -->
         <!-- </div > -->
      </div>
    </div>
    </div>
    <script>
        function unreg(id) {
           el=document.getElementById(id);
           fetch(`/unregister/${id}`).then((res)=>{
              return res.text();
           }).then((d)=>{
            if (d == "T"){
              el.remove();
           }});
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>
