<html>
  <head>
    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      html {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        color: white;
        font-family: "Nunito Sans", sans-serif;
      }

      .container {
        height: 50%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .row1 {
        padding: 30px 30px;
      }

      .row2 {
        padding: 30px 30px;
      }

      .p.i.fa:hover {
        background-color: #1a57e6 no-repeat;
      }

      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: black;
        background-attachment: fixed;
      }

      .content {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
      }

      .heading {
        width: 100%;
        margin-left: 1rem;
        font-weight: 900;
        font-size: 1.618rem;
        text-transform: uppercase;
        letter-spacing: 0.1ch;
        line-height: 1;
        padding-bottom: 0.5em;
        margin-bottom: 1rem;
        position: relative;
      }
      .heading:after {
        display: block;
        content: "";
        position: absolute;
        width: 60px;
        height: 4px;
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
        bottom: 0;
      }

      .description {
        width: 100%;
        margin-top: 0;
        margin-left: 1rem;
        margin-bottom: 3rem;
      }

      .card {
        color: inherit;
        cursor: pointer;
        width: calc(33% - 2rem);
        min-width: calc(33% - 2rem);
        height: 400px;
        min-height: 400px;
        perspective: 1000px;
        margin: 1rem;
        position: relative;
      }
      @media screen and (max-width: 800px) {
        .card {
          width: calc(50% - 2rem);
        }
      }
      @media screen and (max-width: 500px) {
        .card {
          width: 100%;
        }
      }

      .front,
      .back {
        display: flex;
        border-radius: 6px;
        background-position: center;
        background-size: cover;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: ease-in-out 600ms;
      }

      .front {
        background-size: cover;
        padding: 2rem;
        font-size: 1.618rem;
        font-weight: 600;
        color: #fff;
        overflow: hidden;
        font-family: Poppins, sans-serif;
      }
      .front:before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
        opacity: 0.25;
        z-index: -1;
      }
      .card:hover .front {
        transform: rotateY(180deg);
      }
      .card:nth-child(even):hover .front {
        transform: rotateY(-180deg);
      }

      .back {
        background: #fff;
        transform: rotateY(-180deg);
        padding: 0 2em;
      }
      .back .button {
        background: linear-gradient(135deg, #1a9be6, #1a57e6);
      }
      .back .button:before {
        box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
        background-color: rgba(26, 87, 230, 0.25);
      }
      .card:hover .back {
        transform: rotateY(0deg);
      }
      .card:nth-child(even) .back {
        transform: rotateY(180deg);
      }
      .card:nth-child(even) .back .button {
        background: linear-gradient(135deg, #e61a80, #e61a3c);
      }
      .card:nth-child(even) .back .button:before {
        box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
        background-color: rgba(230, 26, 60, 0.25);
      }
      .card:nth-child(even):hover .back {
        transform: rotateY(0deg);
      }

      .button {
        transform: translateZ(40px);
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        font-weight: bold;
        color: #fff;
        padding: 0.5em 1em;
        border-radius: 100px;
        font: inherit;
        border: none;
        position: relative;
        transform-style: preserve-3d;
        transition: 300ms ease;
      }
      .button:before {
        transition: 300ms ease;
        position: absolute;
        display: block;
        content: "";
        transform: translateZ(-40px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        border-radius: 100px;
        left: 10px;
        top: 16px;
      }
      .button:hover {
        transform: translateZ(55px);
      }
      .button:hover:before {
        transform: translateZ(-55px);
      }
      .button:active {
        transform: translateZ(20px);
      }
      .button:active:before {
        transform: translateZ(-20px);
        top: 12px;
      }
    
      /* @media screen and (max-width: 800px) {
       
      } */
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>
      Profile
    </title>
  </head>
  <body>
    <div class="conatiner">
      <div class="row1">
        <section>
          <h1 class="heading">Your Details</h1>
          <section id="details">
            <p>Name: <%= data.name%></p>
            <p>Email id: <%= data.username%></p>
            <p>Phone No.: <%= data.phone %></p>
            <p>College Name: <%= data.college%></p>
          </section>
        </section>
      </div>

      <div class="row2">
        <div class="content">
          <h1 class="heading">Registered Events</h1>
          <p class="description">
            You can check the details of registered events or unregister from an
            event.
          </p>
         <% data.events.forEach(function(d){ %> 
          <a class="card" href="#!" id= <%= d %> >
            
            <div
              class="front"
              style="background-image: url(/assets/img/poster/<%= d %>.jpg);"
            >
              <p><%= evjson[d]["event"]%></p>
            </div>
            <div class="back">
              <div>
                <div style="color: black; word-wrap:break-word;"><%= evjson[d]["desc"].substring(0,100) %></div>
                <p><i style="font-size:24px" class="fa">&#xf061;</i></p>
                <button class="button" onclick="unreg(<%= d %>)">Unregister</button>
              </div>
            </div></a>
          <% }); %>  
      </div>
    </div>
    <script>
        function unreg(id) {
           el=document.getElementById(id);
           fetch(`/unregister/${id}`).then((res)=>{
              return res.text();
           }).then((d)=>{
            if (d == "T") { 
              el.remove();
           }});
        };
    </script>
  </body>
</html>
